node_modules/
.next/
.env
.env.local
backend/.env
contracts/.env
frontend/.env.local
backend/node_modules/
contracts/node_modules/
*.log
contracts/artifacts/
contracts/cache/
contracts/typechain-types/
backend/dist/
frontend/tsconfig.tsbuildinfo
